// SASS Start
// Variables
// Colors
$blue: #034fdf;
$brown: #835C3B;
$brown-1: #CFB39B;
$white: #fff;
// Fonts
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// Resolutions
$tablet: '768px';
// Media Queries
$media-tablet: 'min-width: #{$tablet}';
// SASS End